.main-container {
  width: max-content;
  height: 100vh;
  padding: 60px;
  overflow-y: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none; 

  &::-webkit-scrollbar {
    display: none; 
  }

}