.main-container {
  width: calc(100% - 283px);
  height: 100vh;
  padding: 60px;
  @include hideScrollBar;
}

//responsiveness
@include screen('medium') {
  .main-container {
    width: 100%;
    padding: 10px;
  }
}