.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  padding: 30px;

  .nav-logo-div {
    width: 25%;

    .navbar-logo {
      width: 144.8px;
      height: 30px;
    }
  }

  .nav-contents {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-search-box {
      width: 400px;
      display: flex;
      align-items: center;

      .search-input {
        font-family: $font-family-base;
        font-size: $font-size-2;
        font-weight: $font-weight-1;
        color: $text-secondary;
        line-height: 16.42px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        border: none;
        outline: none;
        width: 80%;
        border: 1px solid #21407d45;
        border-width: 1px 0 1px 1px;
        border-radius: 8px 0 0 8px;
        padding: 13px 20px;

        &::placeholder {
          opacity: 70%;
        }
      }

      .search-btn {
        padding: 12px 21px;
        background-color: $primary-color;
        border-width: 1px 1px 1px 0;
        border: 1px solid $primary-color;
        border-radius: 0 8px 8px 0;
      }
      .search-icon {
        width: 16px;
        height: 16px;
        fill: $text-secondary;
        cursor: pointer;
        transition: fill 0.3s;
      }
    }

    .user-info {
      display: flex;
      align-items: center;
      gap: 30px;

      .info-span {
        cursor: pointer;
      }

      .info-span:first-of-type p {
        margin-right: 20px;
        margin-bottom: 0;
        color: $text-color;
        font-family: $font-family-roboto;
        font-size: $font-family-base;
        font-weight: $font-weight-1;
        line-height: 18.75px;
        text-align: left;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }

      .info-span:last-of-type {
        @include flex-center;
        gap: 10px;
        margin-left: -20px;

        .user-name {
          margin: 0;
        }
      }
    }
  }
}

//responsiveness
@include screen('medium') {
  .navbar {
    padding: 15px;
    display: grid;
    grid-template-columns: 180px 1fr auto;

    .nav-logo-div {
      // width: 25%;
      width: max-content;

      .navbar-logo {
        width: 120px;
        height: 25px;
      }
    }

    .nav-contents {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));

      .nav-search-box {
        width: 150px;

        .search-input {
          padding: 7px;
        }

        .search-btn {
          padding: 6px 7px;
        }
      }

      .user-info {
        gap: 15px;
        justify-content: flex-end;
        padding-right: 10px;

        .info-span:last-of-type {
          margin-left: -15px;
        }
      }
    }
  }
}

@include screen('small') {
  .navbar {
    padding: 10px;
    display: grid;
    grid-template-columns: 120px 1fr auto;

    .nav-logo-div {
      // width: 25%;
      width: max-content;

      .navbar-logo {
        width: 90px;
        height: 20px;
      }
    }

    .nav-contents {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));

      .nav-search-box {
        width: 120px;

        .search-input {
          padding: 4px;
        }

        .search-btn {
          padding: 3px 4px;
        }
      }

      .user-info {
        gap: 10px;
        justify-content: flex-end;
        padding-right: 5px;

        .info-span {
          .user-avatar {
            width: 25px;
            border-radius: 50%;
          }

          .bell-icon {
            width: 20px;
            height: 20px;
          }

          p {
            font-size: $font-size-1;
          }
        }

        .info-span:first-of-type {
          margin-right: 10px;
          margin-bottom: 0;
        }

        .info-span:last-of-type {
          margin-left: -8px;
        }
      }
    }
  }
}
