.sidebar-container {
  padding-top: 30px;
  width: max-content;
  // max-width: 283px;
  height: 100vh;
  box-shadow: 0px 5px 20px 0px #0000000a;
  background-color: $white;
  @include hideScrollBar;

  .switch-organization-div {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    padding: 0 30px;

    h3 {
      color: $text-color;
      font-size: $font-size-base;
      font-weight: $font-weight-1;
      line-height: 18.77px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
  }
}

.link {
  text-decoration: none;
  color: inherit;
}

//responsiveness
@include screen('medium') {
  .sidebar-container {
    display: none;
  }
}