.side-bar-section-container {
  margin-top: 30px;
  list-style-type: none;

  .side-bar-section {
    padding: 0 30px 10px 30px;
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.08px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
  }
}