@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button($background, $color) {
  padding: 0.75rem;
  border-radius: 8px;
  background-color: $background;
  color: $color;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: lighten($background, 10%);
  }
}

@mixin transition($property, $duration) {
  transition: $property $duration ease-in-out;
}

@mixin hideScrollBar {
  overflow-y: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none; 

  &::-webkit-scrollbar {
    display: none; 
  }
}

//media queries
@mixin screen($breakpoint) {  
  @if ($breakpoint == 'medium') {  
    @media screen and (max-width: 955px) {  
      @content;  
    }  
  }  
  @else if ($breakpoint == 'small') {  
    @media screen and (max-width: 575px) {  
      @content;  
    }  
  }
  @else if ($breakpoint == 'large') {  
    @media screen and (max-width: 1200px) {  
      @content;  
    }  
  }
}
