@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button($background, $color) {
  padding: 0.75rem;
  border-radius: 8px;
  background-color: $background;
  color: $color;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: lighten($background, 10%);
  }
}

@mixin transition($property, $duration) {
  transition: $property $duration ease-in-out;
}

@mixin border-radius($radius: 4px) {
  border-radius: $radius;
}

@mixin font-size($size: 1rem) {
  font-size: $size;
}

@mixin box-shadow($color: rgba(0, 0, 0, 0.2)) {
  box-shadow: 0 4px 6px $color;
}