// Colors
$primary-color: #213F7D;
$secondary-color: #5fce63;
$text-color: #545F7D;
$white-bg: #ffffff;
$background: #fbfbfb;

// Fonts
$font-family-base: 'Roboto', sans-serif;

// Spacing
$spacing-unit: 16px;
